// -------------------------------- Logo & Body Storyfeed --------------------------------- //


.logo-image {
  width: 170px !important;
}

.body {
  background:#eee;
  font-size: 12px !important;
}

// -------------------------------- Hide and change in Embed Size at 290px ------------------------------------ //


.top-nav{
  .header{
     background-color: rgba(11, 11, 11, 0.85);
     @media screen and (max-width: 290px){
     background-color: #c0c0c0;
     }
  }
}
.header-bg{
     position: fixed !important;
     z-index: 5000;
     width: 100%;
     height: 50px !important;
     background-color: rgba(255, 255, 255, 0.85);
}


.posts-list {
  .post-actions{
   @media screen and (max-width: 290px){
    display: none !important;
   }
  }
}

.mobile-menu-button{
  @media screen and (max-width: 290px){
   display: none;
  }
}

// -------------------------------- Custom Hero Banner Components --------------------------------- //

.hero {
  padding-top: 60px;
}
.custom-hero-banner {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: 0px solid #ccc;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  background-image: url('http://storyfeed.co/system_images/storyfeed_banner_hero_world.jpg');
  background-position: center;
}

@media screen and (max-width: 600px) {
  .custom-hero-banner {
    visibility: hidden;
    display: none;
  }
}


// -------------------------------- Custom textarea Comments --------------------------------- //

form, .accounts-dialog{
  
  textarea{
    min-height:20px;
    line-height:1;
    font-size: 13px;
  }
}

// -------------------------------- Custom Info Banner located in post a story Components --------------------------------- //


.custom-info-banner {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: 0px solid #ccc;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
  background-image: url('http://storyfeed.co/system_images/storyfeed_banner_info-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 155%;
}

@media screen and (max-width: 600px) {
  .custom-info-banner {
    background-image: url('http://storyfeed.co/system_images/storyfeed_banner_info-1.jpg') !important;
    background-size: auto;
  }
}

// -------------------------------- Custom Discussion Title Banner located in post page --------------------------------- //


.custom-title-grid {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: #888;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: none;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .custom-title-grid {
    background-color: none;
  }
}



// -------------------------------- Custom On-site Analytics Information --------------------------------- //


.post-admin{
	display: flex;
	align-items: center;
	.post-admin-actions, .post-admin-stats{
		border-radius: 0px;
		margin-left: 10px;
		margin-right: 3px;
	}
}


// -------------------------------- Custom Menu Content --------------------------------- //


// ---- Top Stories - New Stories -- //
.menu-item-label-text {
  font-weight: normal !important;
}
// --- end -- //


// ---- No notifications -- //
.menu-label {
  font-weight: normal !important;
}
// --- end -- //



// ---- Share a Story -- //
.submit {
  font-weight: normal !important;
}
// --- end -- //



// ---- Register/Sign in -- //
.account-link {
  font-weight: normal !important;
}
// --- end -- //




// -------------------------------- Post Vote in Posts Page--------------------------------- //

.post-vote {
    .vote-actions{
      border: 1px solid #dfdbdb;
      border-radius: 5px;
    }
    .vote-action{
      font-size: 9px !important;
      font-weight: normal;
      padding-left: auto !important;
      padding-right: auto !important;
      margin-top: 0px;
      margin-right: auto !important;
      margin-bottom: 0px;
      margin-left: auto !important;
    }
    .downvote-link{
      border-top: none;
    }
}

.points {
   font-size: 11px !important;
   margin: auto;
   padding: 0px 3px 0px 3px;
}

.unit {
   margin-right: 2px;
   font-size: 11px !important;
}




// -------------------------------- Custom Post Content in posts page --------------------------------- //


.posts {
  margin-bottom: 0px !important;
}

.post-heading {
	margin-bottom: 3px;
	line-height: 1.2;
	.post-title {
		display: inline;
		margin-bottom: 0px;
	}
	.post-domain {
		color: lightest-grey;
		font-weight: normal;
	}
}

.post-title {
	 font-size: 18px !important;
	 color: black;
   font-weight: 300 !important;
}

.post-category {
   font-size: 7px !important;
   margin-bottom: 0px;
   font-weight: 600 !important;
   background: #f8f8f8 !important;
   border-radius: 1px !important;
}

.post-meta {
	 font-size: 12px !important;
	 color: light grey;
	 line-height: 50% !important;
}

.post-body {
  font-size: 13px !important;
  margin-bottom: 2px;
}

.module {
  border-radius: 3px;
}

.comment-new-heading {
  margin-bottom: 10px;
  font-weight: normal;
}

.comment-new {
  padding: 15px 15px 1px 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 2px;
}

.grid-block {
  background: rgba(255, 255, 255, 0.5);
}

.comment-content {
  font-size: 12px;
  z-index: 10;
  margin-bottom: 2px;
  margin-top: 2px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
}

.comment-actions a {
  height: 25px;
  width: 30px;
  background: none;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
}

.comment-actions{
  @media screen and (max-width: 600px) {
    left:0px;
  }
}

.comment-meta {
  padding-bottom: 8px;
  border-bottom: 1px #e9e9e9 solid;
  margin-bottom: 9px; 
  font-size: 13px;
}

.comment-meta {
  .comment-permalink{
    font-size: 12px;
  }
}

.comment-page {
  .comment-new {
    background: rgba(255, 255, 255, 0.5);
  }
}

.postMeta-module {
   margin-right: 10px;
}

.post-admin-stats {
   font-size: 9px !important;
}

.post-domain {
   font-size: 11px !important;
   margin-left: 5px !important;
}

.post-discuss {
   font-size: 12px !important;
   .icon-comment {
     font-size: 12px !important;
     margin-top: 5px !important;
   }
   .action-count {
    position: static !important;
    margin-top: -5px !important;
   }
}

.post-time {
   margin-right: 4px;
   font-size: 11px;
}

.comments-link {
   font-weight: normal !important;
}
.comment-text {
  p {
   font-size: 13px !important;
  }
}
h4 {
  font-size: 13px !important;
}


@media screen and (max-width: 600px) {
  .post-heading {
   margin-bottom: 3px;
   line-height: 1.2;
   .post-title {
     display: inline;
     margin-bottom: 0px;
   }
   .post-domain {
     color: lightest-grey;
     font-weight: normal;
   }
  }

  .post-title {
    font-size: 18px !important;
    color: black;
    font-weight: 300 !important;
  }

  .post-categories {
    margin-left: 0px !important;
  }

  .post-category {
    font-size: 6px !important;
    margin-bottom: 0px;
    font-weight: 600 !important;
    background: #f6f6f6 !important;
    border-radius: 1px !important;
  }

  .post-meta {
    font-size: 10.5px !important;
    color: light grey;
    line-height: 1.5;
  }

  .postMeta-module {
    margin-right: 8px;
  }

  .post-admin-stats {
    font-size: 9px !important;
  }

  .post-domain {
    font-size: 10px !important;
    margin-left: 5px !important;
  }

 .post-discuss {
   font-size: 12.5px !important;
    .icon-comment {
      font-size: 12px !important;
      margin-top: 5px !important;
    }
    .action-count {
     position: static !important;
     margin-top: -5px !important;
    }
 }

 .post-time {
    margin-right: 0px;
 }

 .comments-link {
    font-weight: normal !important;
 }
}


// -------------------------------- Custom app loader --------------------------------- //

.app-loading{
  height: 100vh;
}
.loader{
  min-height: 23px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    background:url("http://storyfeed.co/system_images/ajax-loader.svg") center center no-repeat;
    background-size: 23px 23px;    
  }
}



// -------------------------------- MAIN STRUCTURE ---------------------- //
// ---------------------------------------------------------------------- //
// ----------------------- New changes testing to main body ------------- //


.header {
  position: fixed !important;
  width: 100%;
  z-index: 10000;
  height: 50px !important;
     .logo-image {
        line-height: 1;
        height: 110% !important;
        margin-top: 5px;
      }
     @media screen and (max-width: 600px) {
      .logo {
       max-width: 600px !important;
       justify-content: center !important;
       text-align: center !important;
       align-items: center !important;
      }  
   }
}

.search{
  order: 2 !important;
}


.search-field {
  font-size: 12px !important;
  width: 350% !important;
  max-width: 500px !important;
  border-radius: 5px !important;
}
@media screen and (max-width: 600px) {
  .search-field {
   font-size: 13px !important;
   width: 100% !important;
   max-width: 190px !important;
   border-radius: 5px !important;
 }
}


.content-wrapper{
  max-width: 63% !important;
  padding-top: 0px;
  margin-right: 33% !important;
  margin-bottom: 0px;
  margin-left: auto;
}
@media screen and (max-width: 600px) {
  .content-wrapper{
  max-width: 1200px !important;
  margin-top: 0px;
  margin-right: auto !important;
  margin-bottom: 0px;
  margin-left: auto !important;
  }
}


.btn {
  font-size: 12.5px !important;
  padding-top: 9px !important;
  padding-right: 10px !important;
  padding-bottom: 9px !important;
  padding-left: 10px !important;
}


.custom-footer-code {
    text-align: center;
    font-size: 10px !important;
    color: #d4d2d2;
    text-decoration: none !important;
}




// ------------- Menu Components and Views Menu --------------- //

.menu-component {
  font-size: 12.5px !important;
}


// ------------------------------------ posts views nav ------------------------------------ //
.views-menu-wrapper-2{
  text-align: center !important;
  background: white;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  .menu-label-wrapper, .menu-items, .menu-item{
    display: inline-block;
  }
  .menu-label-wrapper{
    margin-right: 10px;
    &:after{
      content: ": ";
    }
  }
  @media screen and (max-width: 600px) {
    .menu-label-wrapper{
     display: none;
    }
  }  
  .menu-item{
    padding: 0;
    margin: 0 10px 0 0;
    .menu-item-label-text{
      display: inline-block;
    }
    .menu-item-label-description{
      display: none;
    }
  }
  .menu-description{
    display: none;
  }
}

.views-menu-wrapper-3{
  text-align: center !important;
  background: white;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  @media screen and (max-width: 290px){
   display: none !important;
  }
  .menu-label-wrapper, .menu-items, .menu-item{
    display: inline-block;
  }
  .menu-label-wrapper{
    margin-right: 0px;
    &:after{
      content: ": ";
    }
  }
  @media screen and (max-width: 600px) {
    .menu-label-wrapper{
     display: none;
    }
  }  
  .menu-item{
    padding: 0 15px 0 15px;
    margin: 0 0 0 0;
    font-size: 225% !important;
    .menu-item-label-text{
      display: inline-block;
    }
    .menu-item-label-description{
      display: none;
    }
  }
  .menu-description{
    display: none;
  }
}


// ----------- Layout Css for New Side Bar --------------- //

.side-bar {
  position: fixed;
  background: white;
  border-radius: 3px;
  width: 27% !important;
  margin-top: 0px;
  margin-left: 70% !important;
  z-index: 1;
}
@media screen and (max-width: 600px) {
 .side-bar {
   display: none;
  }
}

.announcement-side-bar {
  font-size: 13px;
  background-image: url("http://storyfeed.co/system_images/storyfeed_banner_info-1.jpg");
  max-width: 350px;
  margin-top: 0px;
  padding: 8px 14px 8px 11px;
  position: relative;
  width: 100%;
  overflow-y: scroll !important;
  max-height: 65px !important;
  border-bottom: 1px solid #e1e1e1 !important;
  background-size: 126%;
  background-repeat: no-repeat;
}

.posts-side-bar {
  margin-top: 0px;
  padding: 6px;
  position: relative;
  width: 100%;
  overflow-y: scroll !important;
  max-height: 700px !important;
  border-bottom: 1px solid #e1e1e1 !important;
  background: #F7F7F7 !important;
}


.view-name-title {
  background: white;
  border-radius: 0px;
  padding: 10px;
  font-size: 20px;
  background: #F7F7F7 !important;
}



// -------------- EMBED CODE ----------------- //


.popup {
  max-width: 100px;
  margin-top: -15px;
  font-weight: normal !important;
  font-size: 10px;
  color: #bababa;
  position: relative;
  display: inline-block;
  cursor: pointer;
  @media screen and (max-width: 600px) {
  display: none !important;
  }
}

.popup .popuptext {
    visibility: hidden;
    height: 120px;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.codebox {
    border:1px solid black;
    color:#333;
    background-color:#fff;
    overflow:auto;    
    padding:10px;
    max-height: 90px;
    overflow: scroll;
}
.codebox code {
    font-size:0.9em;
}
// -------------- END EMBED CODE -------------------- //

